:root {
  --titulos: "Arima Madurai", cursive;
  --parrafos: "Georgia", sans-serif;
}

@font-face {
  font-family: roboto;
  src: url(fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: seriffont;
  src: url(fonts/PT_Serif/PTSerif-Bold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: roboto;
  background: #f1f1f1;
}

.header {
  position: relative;
  text-align: center;
}

.header h1 {
  font-family: roboto;
}


.logo-pizzeria {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgba(15, 15, 15, 0.5);
}

.menu {
  list-style: none;
  display: flex;

  gap: 40px;
}

.navbar a {
  color: rgb(13, 13, 13);
  text-decoration: none;
  background-color: white;
  padding: 20px;
  width: 120px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  margin-top: 3px;
  font-family: seriffont;
}

/* Ícono de menú para pantallas pequeñas */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

/* Líneas del ícono de menú */

.menu-toggle span {
  width: 30px;
  height: 3px;
  background: white;
  transition: 0.3s;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-family: seriffont;
}

.titulo h2 {
  margin-left: 300px;
  margin-top: 20px;
  font-size: 60px;
}
.description {
  font-family: seriffont;
  margin-right: 300px;
  margin-top: 20px;
  font-size: 30px;
}

.marron {
  color: rgb(218, 96, 35);
}

.orange {
  color: rgb(204, 149, 47);
}
.contenedor-menu {
  font-weight: bold;
  width: 90%;
  padding: 10px;

  margin: 0px auto;
  background-color: rgba(196, 98, 17, 0.5);
  box-shadow: 5px 5px 5px 5px #c99206;
  border-radius: 5px;
}

.texto-historia {
  border-radius: 10px;
  margin: 30px auto;
  width: 600px;
  height: 400px;
  background: url(img/imagen2.jpg) no-repeat;
}
.texto-imagen {
  font-weight: bold;
  color: black;
  font-size: 35px;
  font-family: roboto;
  margin: 40px;
  text-align: center;
  transform: translateY(100px);
}
.imagen-servicios {
  width: 10%;
  height: 10%;
  border-radius: 10px;
  margin: 30px;
}

.contenedor-servicios {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(219, 99, 13, 0.2);
  width: 70%;
  margin: auto;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.text {
  color: rgb(11, 1, 1);
  font-size: 25px;

  font-family: seriffont;
}

.contenedor-descripcion-servicios {
  
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: rgba(190, 102, 8, 0.2);
}

.descripcion-servicio {
  color: white;
  font-size: 25px;
  padding: 50px;
  
  border-radius: 10px;

  margin: 50px;
  font-family: var(--parrafos);
  
}

.contenedor-carta-principal {
  background: url(img/menu.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
}

.contenedor-carta {
  margin: auto;

  background-color: rgba(176, 94, 7, 0.2);
  width: 90%;
  transform: translateY(50px);
}

.explicacion-carta {
  color: rgb(233, 223, 223);
  font-weight: bold;
  font-size: 30px;

  padding: 60px;
  text-align: center;
  font-family: roboto;
}

.contenedor-flip {
  background-color: rgba(194, 96, 16, 0.2);

  padding-top: 45px;
  padding-bottom: 45px;
}

.contenedor-flip-cards {
  margin: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 199px;
  border-radius: 5px;
  perspective: 300px;
  overflow-y: hidden;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow-x: visible;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-y: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #a34c09;
  opacity: 0.5;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  transform: rotateY(180deg);
}

.contenedor-pizza-estrella {
  background-color: rgba(236, 102, 13, 0.3);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.texto-pizza-estrella {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgba(255, 166, 44, 0.3);
}

.boton-pizza-estrella {
  font-size: 25px;
  font-weight: bold;
  margin-left: 60px;
  background-color: rgba(167, 120, 9, 0.3);
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.pizza-estrella {
  width: 190px;
  height: 190px;
  border: 2px solid #fff;
  /* background: url(img/duck.png) no-repeat; */
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

/* Estilos de la descripción de la pizza estrella */
.descripcion-pizza-estrella {
  max-height: 0;
  font-size: 20px;
  color: rgba(17, 17, 17, 0.673);
  font-weight: bold;
  overflow: hidden;
  transition: max-height 1s ease-out;
  background-color: rgba(223, 119, 15, 0.526);
}



/* Estilos para que pueda aparecer la descripcion de la pizza estrella */
.descripcion-pizza-estrella.show {
  margin-bottom: 50px;
  padding: 15px;
  max-height: 70px;
}

.footer {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.7);
}

.columna-1-footer li {
  margin: 20px;
  color: white;
  list-style-type: none;
}

.columna-2-footer li {
  margin: 20px;
  list-style-type: none;
  color: white;
}

.columna-3-footer li {
  margin: 20px;
  list-style-type: none;
  color: white;
}
.fa-facebook:hover {
  font-size: 30px;
}

.fa-instagram:hover {
  font-size: 30px;
}
.titulo-columna-1 {
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #a34c09;
}
.titulo-columna-2 {
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #a34c09;
}

.titulo-columna-3 {
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #a34c09;
}
/* Tablets estándar (vertical) */
@media (min-width: 600px) and (max-width: 900px) {
  .hero {
    flex-direction: column;
  }
  .titulo h2 {
    margin-right: 300px;
  }
  .description {
    margin-left: 200px;
    width: 70%;
  }

  .texto-historia {
    width: 80%; 
    height: 100%; 
    background-size: cover;  /*Hace que la imagen de fondo cubra completamente el elemento, manteniendo su proporción */
    background-repeat: no-repeat;  /*Evita que la imagen de fondo se repita si no llena completamente el elemento. */
  }
  .texto-imagen {
    font-size: 25px;
    transform: translateY(-10px);
    width: 70%;

    text-align: center;
  }

  .contenedor-flip-cards {
    margin: 0;
    flex-direction: column;
  }
  .flip-card {
    max-width: 100%;
    margin: 30px;
  }
  .flip-card img {
    object-fit: cover; /*Permite que las imagenes mantengan su proporcion al hacerse la web responsive*/ 
  }

  .contenedor-pizza-estrella {
    flex-direction: column;
  }
  .texto-pizza-estrella {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(255, 166, 44, 0.3);
    margin: 15px auto;
    text-align: center;
  }
  .boton-pizza-estrella {
    font-size: 25px;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 20px;
    background-color: rgba(167, 120, 9, 0.3);
    color: black;
    padding: 10px;
    border-radius: 5px;
  }
  .pizza-estrella {
    width: 190px;
    height: 190px;
    border: 2px solid #fff;
    background: url(img/duck.png) no-repeat;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px;
  }

  .descripcion-pizza-estrella {
    max-height: 0;
    font-size: 20px;
    color: rgba(4, 4, 4, 0.614);
    font-weight: bold;
    overflow: hidden;
    transition: max-height 1s ease-out;
    background-color: rgba(223, 119, 15, 0.526);
  }

  .descripcion-pizza-estrella.show {
    margin-bottom: 50px;
    padding: 15px;
    max-height: 200px;
  }

  .footer {
    text-align: center;
    flex-direction: column;
  }
}
/* Tablets grandes (horizontal) */
@media (min-width: 900px) and (max-width: 1200px) {
  .hero {
    flex-direction: column;
  }
  .titulo h2 {
    margin-left: 100px;
  }

  .description {
    margin-right: 100px;
  }

  .text {
    color: rgb(11, 1, 1);
    font-size: 25px;
    padding: 10px;
    font-family: seriffont;
  }
  .explicacion-carta {
    line-height: 50px;
  }
  .flip-card {
    max-width: 80%;
    margin: 30px;
  }
  .flip-card img {
    object-fit: cover;
  }
  .contenedor-pizza-estrella {
    flex-direction: column;
  }
  .texto-pizza-estrella {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(255, 166, 44, 0.3);
    margin: 15px auto;
    text-align: center;
  }
  .boton-pizza-estrella {
    font-size: 25px;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 20px;
    background-color: rgba(167, 120, 9, 0.3);
    color: black;
    padding: 10px;
    border-radius: 5px;
  }
  .pizza-estrella {
    width: 190px;
    height: 190px;
    border: 2px solid #fff;
    background: url(img/duck.png) no-repeat;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px;
  }

  .descripcion-pizza-estrella {
    max-height: 0;
    font-size: 20px;
    color: rgba(4, 4, 4, 0.614);
    font-weight: bold;
    overflow: hidden;
    transition: max-height 1s ease-out;
    background-color: rgba(223, 119, 15, 0.526);
  }

  .descripcion-pizza-estrella.show {
    margin-bottom: 50px;
    padding: 15px;
    max-height: 200px;
  }

  .footer {
    text-align: center;
    flex-direction: column;
  }
}
/* Estilos para móviles */
@media (max-width: 480px) {
  .body {
    overflow-x: hidden;
  }

  /*Estilos del menú cuando se clica el icono hamburguesa*/
  .menu {
    display: none;
    flex-direction: column;
    background: #333;
    position: absolute;
    top: 160px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    gap: 10px;
  }

  .menu li {
    margin: 0.5rem 0; 
  }


  /*Estilo que hace que se viusalice el menú cuando se clica el menú hamburguesa*/
  .menu.show {
    display: flex;
    z-index: 9;
  }

  .menu-toggle {
    display: flex;
  }
  .navbar {
    justify-content: left;
    padding-left: 20px;
  }

  /* Animación del ícono hamburguesa */
  .menu-toggle.active span:nth-child(1) {
    z-index: 10;
    transform: rotate(45deg) translate(0, 0);
    width: 65px;
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    z-index: 10;
    transform: rotate(-45deg) translate(0, 0);
    width: 65px;
  }

  .hero {
    flex-direction: column;

    margin-right: 60px;
  }

  .titulo h2 {
    text-align: center;
    margin: 5px auto;
    padding-left: 25px;
  }

  .description {
    text-align: center;
    padding: 10px;
    padding-left: 35px;
    font-size: 25px;
    margin: 5px auto;
  }

  .texto-historia {
    width: 80%; /* Ajustar el ancho al 80% de la pantalla */
    height: auto; /* Altura automática para que el contenido se ajuste */
    background-size: cover; /* Escalar la imagen para que se ajuste al contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }
  .texto-imagen {
    font-size: 25px;
    transform: translateY(-10px);
    width: 80%;

    text-align: center;
  }

  .contenedor-servicios {
    margin-top: 20px;
    padding: 40px;
  }

  .contenedor-carta {
    margin: 40px auto;

    background-color: rgba(176, 94, 7, 0.2);
    width: 90%;
    height: auto;
    transform: translateY(-20px);
  }

  .explicacion-carta {
    color: rgb(233, 223, 223);
    font-weight: bold;
    font-size: 25px;

    padding: 30px;
    text-align: center;
  }
  .contenedor-flip-cards {
    margin: 0;
    flex-direction: column;
  }

  .flip-card {
    max-width: 70%;
    margin: 30px;
  }
  .flip-card img {
    object-fit: cover;
  }

  .contenedor-pizza-estrella {
    flex-direction: column;
  }
  .texto-pizza-estrella {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(255, 166, 44, 0.3);
    margin: 15px auto;
    text-align: center;
  }
  .boton-pizza-estrella {
    font-size: 25px;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 10px;
    background-color: rgba(167, 120, 9, 0.3);
    color: black;
    padding: 10px;
    border-radius: 5px;
  }
  .pizza-estrella {
    width: 190px;
    height: 190px;
    border: 2px solid #fff;
    background: url(img/duck.png) no-repeat;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px;
  }

  .descripcion-pizza-estrella {
    max-height: 0;
    font-size: 20px;
    color: rgba(4, 4, 4, 0.614);
    font-weight: bold;
    overflow: hidden;
    transition: max-height 1s ease-out;
    background-color: rgba(223, 119, 15, 0.526);
  }

  .descripcion-pizza-estrella.show {
    margin-bottom: 50px;
    padding: 15px;
    max-height: 200px;
  }

  .footer {
    margin-top: 30px;
    flex-direction: column;
    color: white;
    font-size: 20px;
    background-color: rgba(15, 15, 14, 0.696);
  }
}
